@page "/"
@page "/Einleitung"

<PageTitle>Einleitung</PageTitle>

<MudText Class="mb-4" Typo="Typo.h4">Abstimmung über die Vorlage <i>Reform BVG 21</i></MudText>

<MudText>
    Am <strong>22. September</strong> steht die Abstimmung über die Vorlage “Reform BVG 21” an.
    Diese Seite verfolgt das Ziel, eine neutrale Informationsquelle zu sein, die keine politischen Meinungen vertritt, sondern Fakten liefert,
    um eine fundierte Entscheidungsfindung zu ermöglichen.
</MudText>

<MudText Typo="Typo.h6">Gesetzesänderung</MudText>
<MudText>
    Die Vorlage beinhaltet eine Gesetzesänderung, deren vorgesehene Änderungen bereits konkret formuliert sind.
    Es ist jedoch nicht einfach, die Auswirkungen dieser Änderungen auf die persönliche Vorsorge abzuleiten.
    Dies liegt hauptsächlich an zwei Gründen:

    <MudList T="string" Dense="true">
        <MudListItem Icon="@Icons.Material.Filled.ArrowRight">
            Die Herausforderung für Personen, die sich nicht jeden Tag mit Ihrer Vorsorge beschäftigen, besteht darin,
            aus dem komplexen Geflecht von BVG-Regeln, Rechenvorschriften und Grenzwerten die zukünftigen Leistungen zu berechnen.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowRight">
            Selbst wenn man den ersten Punkt bewältigt hat, bedeutet dies nicht zwangsläufig, dass sich die Änderungen auf die individuelle Vorsorgesituation auswirken.
            Viele sind einer Pensionskasse angeschlossen, die Leistungen erbringt, die über das gesetzlich Vorgeschriebene hinausgehen (das sogenannte Überobligatorium).
            Daher ist es wichtig, auch die Regeln der eigenen Pensionskasse zu verstehen. Diese sind in der Regel noch komplexer als jene des BVG.
        </MudListItem>
    </MudList>
</MudText>

<MudText Typo="Typo.h6">Ziel dieser Seite</MudText>
<MudText>
    Diese Seite wurde genau zu dem Zweck erstellt, um Ihnen bei der Bewältigung beider Herausforderungen zu helfen. Sie bietet oder verweist auf Grundlagenwissen zur
    beruflichen Vorsorge im Allgmeinen und zur BVG-Reform 21 im Speziellen. Sie bietet auch eine Möglichkeit, die Auswirkungen der Reform auf Ihre persönliche
    Situation zu ermitteln.
</MudText>
<MudText>
    Ihre persönliche Auswirkungsberechnung erfolgt in mehreren Schritten:
    <MudList T="string" Dense="true">
        <MudListItem Icon="@Icons.Material.Filled.ArrowRight">
            Im ersten Schritt geben Sie Ihre persönlichen Daten ein, die für die Berechnung der Rentenleistungen erforderlich sind.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowRight">
            Im zweiten Schritt wird das Ergebnis der Berechnung angezeigt, das Ihre voraussichtlichen BVG-Altersleistungen zeigt.
        </MudListItem>
        <MudListItem Icon="@Icons.Material.Filled.ArrowRight">
            Im dritten Schritt braucht es zusätzliche Informationen über Ihre aktuelle Pensionskasse bzw. über den Vorsorgeplan, der im Detail beschreibt, welche Leistungen bei
            der Pensionierung erbracht werden. Der Vorsorgeplan ist in der Regel kein Dokument, dass Sie von Ihrer Pensionskasse erhalten, weshalb dieser
            Vorsorgeausweises hergeleitet werden muss. Diese Herleitung ist sehr experimentell, und es ist nicht garantiert,
            dass die Werte aus dem Vorsorgeausweis auch tatsächlich nachgerechnet werden können.
        </MudListItem>
    </MudList>
    
    Die Auswirkungsberechnung unterliegt den folgenden Einschränkungen:
    <MudList T="string" Dense="true">
        <li>Personenkreis: die Berechnung von Leistungen einer (Teil-)invaliden Person ist nicht unterstützt. Pensionierte sind von der Reform nicht betroffen.</li>
        <li>
            Leistungen: die Berechnung beschränkt sich auf die Sparleistung (das Altersguthaben zum ordentlichen Rentenbeginn) und der daraus resultierenden Alterrente.
            Ausgenommen sind also Risikoleistungen (wie Invaliden-, Partner-/Witwen- und Waisenrenten)
        </li>
        <li></li>
    </MudList>

</MudText>

<MudText>
    <b>Disclaimer</b>: alle Angaben und Berechnungen sind ohne Gewähr. Insbesondere die Simulationsberechnung der Sparleistungen Ihrer Pensionskasse sind experimentell.
</MudText>