@using PensionCoach.Tools.CommonTypes
@using System.Globalization

@inject IStringLocalizer<Resource> localizer

<RadzenDataList
    WrapItems="true"
    AllowPaging="true"
    Data="@Persons"
    TItem="PersonViewModel"
    PageSize="5">
     <Template Context="person">
         <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
             <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                          <h5 class="mb-0">@(localizer["person.name"])</h5>
                        @(person.Name)
                    </div>
                    <div class="col-lg-3">
                        <h5 class="mb-0">@(localizer["person.residence"])</h5>
                        @($"{person.MunicipalityName} ({person.Canton})")
                    </div>
                    <div class="col-lg-3">
                        <h5 class="mb-0">@(localizer["person.birthdate"])</h5>
                        @(person.DateOfBirth.ToShortDateString())
                    </div>
                    <div class="col-lg-3">
                        <h5 class="mb-0">@(localizer["person.taxableincome"])</h5>
                        @(person.TaxableIncome)
                    </div>
                </div>
             </div>
         </RadzenCard>
     </Template>
    </RadzenDataList>

@code {
    [Parameter]
    public IEnumerable<PersonViewModel> Persons { get; set; }
}
