@page "/SimpleTax/MarginalTax"

@using PensionCoach.Tools.CommonTypes.Tax
@using PensionCoach.Tools.CommonTypes
@using Microsoft.AspNetCore.Components
@using Microsoft.Extensions.Logging

@inject IPersonService PersonService
@inject ILogger<WealthPlanning> Logger
@inject IMarginalTaxCurveCalculationService MarginalTaxCurveCalculationService

<RadzenTemplateForm TItem="MarginalTaxRequest" Data=@taxRequest Submit=@OnSubmit>
    <RadzenContent Container="main">
        <ChildContent>
            <RadzenHeading Size="H1" Text="Grenzsteuersatz"></RadzenHeading>
            <RadzenSteps NextText="Nächster" PreviousText="Vorheriger">
                <Steps>
                    <RadzenStepsItem Text="Personen" Selected="true">
                        <FormStep Title="Auswahl" HelpText="Die Cashflow-Simulation basiert auf Angaben zur Person sowie steuerrevelanten Daten wie Wohnort, Einkommen und Vermögen.">
                            <div class="row">
                                <PersonSelector Persons="persons" OnSelect="@HandleSelectPerson"/>
                            </div>
                        </FormStep>
                    </RadzenStepsItem>
                    <RadzenStepsItem Text="Steuerperson ändern" Disabled="@(selectedPerson == null)">
                        <ChildContent>
                            <FormStep Title="Person"
                                      HelpText="Steuerlich relevante Angaben zur Person sind der Zivilstand,
die Konfession und, falls verheiratet, die Konfession der Partnerin. Daneben gibt es auch Angaben wie das Alter,
welche zwar für die Berechnung der Steuern irrelevant sind, aber Geldflüsse in der Vorsorge wirken.
Der aktuelle Lohn und das derzeitige Vermögen sind der Startpunkt für Vermögensentwicklung über die Zeit.">
                                <ChildContent>
                                    <div class="row">
                                        <RadzenFieldset Text="Person">
                                            <div class="row">
                                                <div class="col-md-3"><RadzenLabel Text="Name" /></div>
                                                <div class="col-md-9"><RadzenTextBox @bind-Value="taxRequest.Name" Name="simulationName" ReadOnly="true" /></div>

                                                <div class="col-md-3"><RadzenLabel Text="Zivilstand" /></div>
                                                <div class="col-md-9">
                                                    <CivilStatusSelector
                                                        SelectedCivilStatus="@taxRequest.CivilStatus"
                                                        OnSelected="@(args => taxRequest.CivilStatus = args)"/>
                                                </div>

                                                <div class="col-md-3"><RadzenLabel Text="Konfession" /></div>
                                                <div class="col-md-9">
                                                    <ReligiousGroupSelector
                                                        SelectedReligiousGroupType="@taxRequest.ReligiousGroup"
                                                        OnSelected="@(args => taxRequest.ReligiousGroup = args ?? ReligiousGroupType.Other)" />
                                                </div>
                                                @if (taxRequest.CivilStatus == CivilStatus.Married)
                                                {
                                                    <div class="col-md-3"><RadzenLabel Text="Konfession Partner" /></div>
                                                    <div class="col-md-9">
                                                        <ReligiousGroupSelector
                                                            SelectedReligiousGroupType="@taxRequest.PartnerReligiousGroup"
                                                            OnSelected="@(args => taxRequest.PartnerReligiousGroup = args)" />
                                                    </div>
                                                }
                                            </div>

                                        </RadzenFieldset>
                                    </div>
                                    <div class="row">

                                        <RadzenFieldset Text="Steuerdaten">
                                            <div class="row">
                                                <div class="col-md-3"><RadzenLabel Text="Lohn" /></div>
                                                <div class="col-md-9"><RadzenNumeric TValue="decimal" Format="n0" @bind-Value="taxRequest.TaxableAmount" /></div>
                                                
                                                <div class="col-md-3"><RadzenLabel Text="Steuergemeinde" /></div>
                                                <div class="col-md-9">
                                                    <MunicipalitySelector
                                                        BfsMunicipalityId="taxRequest.BfsMunicipalityId"
                                                        OnSelected="m => { taxRequest.BfsMunicipalityId = m.BfsMunicipalityNumber; }" />
                                                </div>
                                                <div class="col-md-3">
                                                    <RadzenLabel Text="Steuerjahr"/>
                                                </div>
                                                <div class="col-md-9">
                                                    <RadzenDropDown AllowClear="false" TValue="int" 
                                                                    Data="@(supportedTaxYears)"
                                                                    @bind-Value="@taxRequest.CalculationYear"/>
                                                </div>
                                            </div>
                                        </RadzenFieldset>
                                    </div>
                                   
                                </ChildContent>
                            </FormStep>
                        </ChildContent>
                    </RadzenStepsItem>
                    <RadzenStepsItem Text="Berechnung" Disabled="@(selectedPerson == null)">
                        <ChildContent>
                            <FormStep Title="Simulation" HelpText="Das Ergebnis einer Simulation lässt sich von weiteren Parametern steuern.">
                                <div class="row">
                                    <div class="col-md-3"><RadzenLabel Text="Untergrenze" /></div>
                                    <div class="col-md-9"><RadzenNumeric TValue="int" @bind-Value="taxRequest.LowerSalaryLimit" /></div>

                                    <div class="col-md-3"><RadzenLabel Text="Obergrenze" /></div>
                                    <div class="col-md-9"><RadzenNumeric TValue="int" @bind-Value="taxRequest.UpperSalaryLimit" /></div>

                                    <div class="col-md-3"><RadzenLabel Text="Anzahl Kurvenpunkte" /></div>
                                    <div class="col-md-9"><RadzenNumeric TValue="int" @bind-Value="taxRequest.NumberOfSamples" /></div>

                                    <div class="col-md-3"><RadzenLabel Text="Gemeinde" /></div>
                                    <div class="col-md-9"><MunicipalitySelector
                                                              BfsMunicipalityId="taxRequest.BfsMunicipalityId"
                                                              OnSelected="HandleChangeResidence" /></div>
                                </div>
                            </FormStep>
                        </ChildContent>
                    </RadzenStepsItem>
                </Steps>
            </RadzenSteps>
            
            <div class="row">
                <div class="col-md-12 text-right mt-1">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Berechne" Disabled="@(selectedPerson == null)"></RadzenButton>
                </div>
            </div>

        </ChildContent>
    </RadzenContent>
</RadzenTemplateForm>

@if(showLoading)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}

@if (taxResponse is not null)
{
    <RadzenPanel AllowCollapse="true">
        <TaxCurve
            XMin="@taxRequest.LowerSalaryLimit"
            XMax="@taxRequest.UpperSalaryLimit"
            CurveTitle="Grenzsteuerkurve"
            XAxisTitle="Einkommen"
            YAxisTitle="Grenzsteuersatz"
            IsInPercent="true"
            CurrentPoint="@currentTaxRatePoint"
            CurvePoints="@taxRateCurvePoints"/>
            
        <TaxCurve
            XMin="@taxRequest.LowerSalaryLimit"
            XMax="@taxRequest.UpperSalaryLimit"
            CurveTitle="Steuerkurve"
            XAxisTitle="Einkommen"
            YAxisTitle="Steuerbetrag"
            IsInPercent="false"
              CurrentPoint="@currentTotalTaxPoint"
              CurvePoints="@totalTaxCurvePoints" />
    </RadzenPanel>
}

@code
{
    internal class DataItem
    {
        public int Salary { get; set; }
        public decimal Rate { get; set; }
    }

    private MarginalTaxRequest taxRequest = new();
    private MarginalTaxResponse taxResponse;
    private PersonViewModel selectedPerson;
    private IReadOnlyCollection<PersonViewModel> persons;
    private int[] supportedTaxYears;
    private bool showLoading;

    private TaxCurve.CurvePoint currentTaxRatePoint = new();
    private TaxCurve.CurvePoint currentTotalTaxPoint = new();
    private TaxCurve.CurvePoint[] taxRateCurvePoints = { };
    private TaxCurve.CurvePoint[] totalTaxCurvePoints = { };

    protected override async Task OnInitializedAsync()
    {
        persons = (await PersonService.GetPersonsAsync()).ToList();

        supportedTaxYears = await MarginalTaxCurveCalculationService.SupportedTaxYearsAsync();
    }

    private void HandleChangeResidence(TaxSupportedMunicipalityModel municipalityModel)
    {
        taxRequest.BfsMunicipalityId = municipalityModel.BfsMunicipalityNumber;
    }

    private void HandleSelectPerson(Guid personId)
    {
        selectedPerson = persons.Single(item => item.Id == personId);

        taxRequest = new MarginalTaxRequest
        {
            Name = selectedPerson.Name,
            CivilStatus = selectedPerson.CivilStatus,
            TaxableAmount = selectedPerson.TaxableIncome,
            PartnerReligiousGroup = selectedPerson.PartnerReligiousGroupType,
            ReligiousGroup = selectedPerson.ReligiousGroupType,
            BfsMunicipalityId = selectedPerson.BfsMunicipalityId,
            CalculationYear = supportedTaxYears.Max(),
            UpperSalaryLimit = Convert.ToInt32(selectedPerson.TaxableIncome + 100_000),
            NumberOfSamples = 20
        };
    }

    private async Task OnSubmit(MarginalTaxRequest request)
    {
        try
        {
            taxResponse = null;
            showLoading = true;

            taxResponse = await MarginalTaxCurveCalculationService.CalculateIncomeCurveAsync(request);
            
            taxRateCurvePoints = TaxRateCurvePoints();
            totalTaxCurvePoints = TotalTaxCurvePoints();

            currentTaxRatePoint = new TaxCurve.CurvePoint
            {
                XValue = Convert.ToInt32(taxResponse.CurrentMarginalTaxRate.Salary),
                YValue = taxResponse.CurrentMarginalTaxRate.Rate
            };

            currentTotalTaxPoint = new TaxCurve.CurvePoint
            {
                XValue = Convert.ToInt32(taxResponse.CurrentMarginalTaxRate.Salary),
                YValue = taxResponse.CurrentMarginalTaxRate.TotalTaxAmount
            };
        }
        catch (Exception ex)
        {
            Logger.LogError($"Loading marginal tax rate curve failed {ex.Message}");
        }
        finally
        {
            showLoading = false;
        }
    }

    private TaxCurve.CurvePoint[] TaxRateCurvePoints()
    {
        if (taxResponse == null)
        {
            return Enumerable.Empty<TaxCurve.CurvePoint>().ToArray();
        }

        return taxResponse.MarginalTaxCurve
            .Select(item => new TaxCurve.CurvePoint
                {
                    XValue = Convert.ToInt32(item.Salary),
                    YValue = item.Rate
                })
            .ToArray();
    }

    private TaxCurve.CurvePoint[] TotalTaxCurvePoints()
    {
        if (taxResponse == null)
        {
            return Enumerable.Empty<TaxCurve.CurvePoint>().ToArray();
        }

        return taxResponse.MarginalTaxCurve
            .Select(item => new TaxCurve.CurvePoint
            {
                XValue = Convert.ToInt32(item.Salary),
                YValue = item.TotalTaxAmount
            })
            .ToArray();
    }
}
