@using PensionCoach.Tools.CommonTypes
@using Microsoft.Extensions.Localization
@using BlazorApp.Resources

@inject IStringLocalizer<Resource> localizer

<RadzenCard class="m-4" Data=@Person>

    <div class="row">
        <div class="col-xl-3 col-sm-3">
            <h3>@Person.Name</h3>
        </div>
        <div class="col-xl-9 col-sm-9 text-right">
            @if(OnEdit.HasDelegate)
            {
                <RadzenButton Icon="edit" Click="@HandleEdit" ButtonStyle="ButtonStyle.Secondary"/>
            }

            @if(OnCopy.HasDelegate)
            {
                <RadzenButton Icon="content_copy" Click="@HandleCopy" ButtonStyle="ButtonStyle.Secondary"/>
            }
            
            @if(OnDelete.HasDelegate)
            {
                <RadzenButton Icon="delete" Click="@HandleDelete" ButtonStyle="ButtonStyle.Secondary"/>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div>
                <div class="mt-3">@localizer["person.birthdate"]</div>
                <RadzenDatePicker Disabled="true" @bind-Value="@Person.DateOfBirth" DateFormat="d.M.yyyy" Placeholder="@localizer["person.birthdate"]"/>

                <div class="mt-3">@localizer["person.gender"]</div>
                <GenderSelector IsReadOnly="true" SelectedGender="@Person.Gender"/>

                <div class="mt-3">Zivilstand</div>
                <CivilStatusSelector IsReadOnly="true" SelectedCivilStatus="@Person.CivilStatus"/>

                <div class="mt-3">Konfession</div>
                <ReligiousGroupSelector IsReadOnly="true" SelectedReligiousGroupType="@Person.ReligiousGroupType"/>

                @if (Person.CivilStatus == CivilStatus.Married)
                {
                    <div class="mt-3">Konfession (Partner)</div>
                    <ReligiousGroupSelector IsReadOnly="true" SelectedReligiousGroupType="@Person.PartnerReligiousGroupType"/>
                }
            </div>
        </div>
        <div class="col-xl-6">
            <div>
                <div class="mt-3">Kanton</div>
                <b>@Person.Canton</b>

                <div class="mt-3">@localizer["person.residence"]</div>
                <b>@Person.MunicipalityName</b>

                <div class="mt-3">@localizer["person.taxableincome"]</div>
                <b>@Person.TaxableIncome</b>

                <div class="mt-3">@localizer["person.taxablewealth"]</div>
                <b>@Person.TaxableWealth</b>
            </div>
        </div>
    </div>
</RadzenCard>

@code
{
    [Parameter]
    public PersonViewModel Person { get; set; }

    [Parameter]
    public EventCallback<Guid> OnDelete { get; set; }

    [Parameter]
    public EventCallback<Guid> OnEdit { get; set; }

    [Parameter]
    public EventCallback<Guid> OnCopy { get; set; }

    private Task HandleDelete()
    {
        return OnDelete.InvokeAsync(Person.Id);
    }

    private Task HandleCopy()
    {
        return OnCopy.InvokeAsync(Person.Id);
    }

    private Task HandleEdit()
    {
        return OnEdit.InvokeAsync(Person.Id);
    }
}
