@page "/TaxComparers"

@using Microsoft.Extensions.Logging
@using PensionCoach.Tools.CommonTypes
@using Microsoft.AspNetCore.Components
@using System.Text.Json
@using PensionCoach.Tools.TaxComparison
@using System.Text
@using System.IO
@using System.Reflection

@inject IStringLocalizer<Resource> localizer
@inject ILogger<WealthPlanning> logger
@inject IPersonService personService
@inject ITaxCapitalBenefitsComparisonService taxComparisonService
@inject IExportService exportService

<RadzenTemplateForm TItem="CapitalBenefitTaxComparerRequest" Data=@taxRequest Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <RadzenContent Container="main">
        <ChildContent>
            <RadzenHeading Size="H1" Text="Gemeindevergleich Kapitalbezugssteuer"></RadzenHeading>
            <RadzenSteps NextText="Nächster" PreviousText="Vorheriger">
                <Steps>
                    <RadzenStepsItem Text="Personen" Selected="true">
                        <FormStep Title="Auswahl" HelpText="Vergleiche die Steuer eines Kapitalbezug zwischen allen Schweizer Gemeinden.">
                            <div class="row">
                                <PersonSelector Persons="persons" OnSelect="@HandleSelectPerson"/>
                            </div>
                        </FormStep>
                    </RadzenStepsItem>
                    <RadzenStepsItem Text="Steuerperson ändern" Disabled="@(selectedPerson == null)">
                        <ChildContent>
                            <FormStep Title="Person"
                                      HelpText="Steuerlich relevante Angaben zur Person sind der Zivilstand,
die Konfession und, falls verheiratet, die Konfession der Partnerin. Daneben gibt es auch Angaben wie das Alter,
welche zwar für die Berechnung der Steuern irrelevant sind, aber Geldflüsse in der Vorsorge wirken.
Der aktuelle Lohn und das derzeitige Vermögen sind der Startpunkt für Vermögensentwicklung über die Zeit.">
                                <ChildContent>
                                    <div class="row">
                                        <RadzenFieldset Text="Person">
                                            <div class="row">
                                                <div class="col-md-3"><RadzenLabel Text="Name" /></div>
                                                <div class="col-md-9"><RadzenTextBox @bind-Value="taxRequest.Name" Name="simulationName" ReadOnly="true" /></div>

                                                <div class="col-md-3"><RadzenLabel Text="Zivilstand" /></div>
                                                <div class="col-md-9">
                                                    <CivilStatusSelector
                                                        SelectedCivilStatus="@taxRequest.CivilStatus"
                                                        OnSelected="@(args => taxRequest.CivilStatus = args)"/>
                                                </div>

                                                <div class="col-md-3"><RadzenLabel Text="Konfession" /></div>
                                                <div class="col-md-9">
                                                    <ReligiousGroupSelector
                                                        SelectedReligiousGroupType="@taxRequest.ReligiousGroup"
                                                        OnSelected="@(args => taxRequest.ReligiousGroup = args ?? ReligiousGroupType.Other)" />
                                                </div>
                                                @if (taxRequest.CivilStatus == CivilStatus.Married)
                                                {
                                                    <div class="col-md-3"><RadzenLabel Text="Konfession Partner" /></div>
                                                    <div class="col-md-9">
                                                        <ReligiousGroupSelector
                                                            SelectedReligiousGroupType="@taxRequest.PartnerReligiousGroup"
                                                            OnSelected="@(args => taxRequest.PartnerReligiousGroup = args)" />
                                                    </div>
                                                }
                                            </div>

                                        </RadzenFieldset>
                                    </div>
                                </ChildContent>
                            </FormStep>
                        </ChildContent>
                    </RadzenStepsItem>

                    <RadzenStepsItem Text="Berechnung" Disabled="@(selectedPerson == null)">
                        <ChildContent>
                            <FormStep Title="Simulation" HelpText="Das Ergebnis einer Simulation lässt sich von weiteren Parametern steuern. Welcher Betrag soll bezogen werden und mit welchen Gemeinden soll verglichen werden?">
                                <div class="col-md-3"><RadzenLabel Text="Kapitalbetrag" /></div>
                                <div class="col-md-9"><RadzenNumeric TValue="decimal" Format="n0" @bind-Value="taxRequest.TaxableBenefits" Step="10000.0" /></div>
                            </FormStep>
                        </ChildContent>
                    </RadzenStepsItem>
                </Steps>
            </RadzenSteps>
            
            <div class="row">
                <div class="col-md-12 text-right mt-1">
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Berechne" Disabled="@(selectedPerson == null)"></RadzenButton>
                </div>
            </div>

        </ChildContent>
    </RadzenContent>
</RadzenTemplateForm>

<RadzenPanel AllowCollapse="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <RadzenButton Text="Export XLS" Icon="grid_on" Click="@(args => Export("excel"))" Class="mb-4 mr-2" />
            </div>
            <div class="col-lg-9">
                <RadzenDataGrid @ref="taxResultGrid" AllowFiltering="true" AllowColumnResize="false" AllowPaging="false" AllowSorting="true"
                                FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="LogicalFilterOperator.And"
                                Data="@(Data())" TItem="CapitalBenefitTaxComparerResponse">
                    <Columns>
                        <RadzenDataGridColumn TItem="CapitalBenefitTaxComparerResponse" Property="MunicipalityName" Filterable="true" Title="Name" TextAlign="TextAlign.Left"/>
                        <RadzenDataGridColumn TItem="CapitalBenefitTaxComparerResponse" Property="Canton" Filterable="true" Title="Kanton" TextAlign="TextAlign.Center"/>
                        <RadzenDataGridColumn TItem="CapitalBenefitTaxComparerResponse" Property="TotalTaxAmount" Filterable="false" Title="Total Steuerbetrag" TextAlign="TextAlign.Right"/>
                        <RadzenDataGridColumn TItem="CapitalBenefitTaxComparerResponse" Property="TaxDetails.MunicipalityTaxAmount" Filterable="false" Title="Gemeindesteuer" TextAlign="TextAlign.Right"/>
                        <RadzenDataGridColumn TItem="CapitalBenefitTaxComparerResponse" Property="TaxDetails.CantonTaxAmount" Filterable="false" Title="Staatssteuer" TextAlign="TextAlign.Right"/>
                        <RadzenDataGridColumn TItem="CapitalBenefitTaxComparerResponse" Property="TaxDetails.FederalTaxAmount" Filterable="false" Title="Bundessteuer" TextAlign="TextAlign.Right"/>
                        <RadzenDataGridColumn TItem="CapitalBenefitTaxComparerResponse" Property="TaxDetails.ChurchTaxAmount" Filterable="false" Title="Kirchensteuer" TextAlign="TextAlign.Right" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </div>
</RadzenPanel>

@code
{
    private CapitalBenefitTaxComparerRequest taxRequest = new()
    {
            BfsNumberList = new[] { 261, 3, 1344 }
    };
    private List<CapitalBenefitTaxComparerResponse> taxCalculationResults = new();
    private PersonViewModel selectedPerson;
    private IReadOnlyCollection<PersonViewModel> persons;

    protected override async Task OnInitializedAsync()
    {
        persons = (await personService.GetPersonsAsync()).ToList();
    }

    private void HandleSelectPerson(Guid personId)
    {
        selectedPerson = persons.Single(item => item.Id == personId);

        taxRequest = new CapitalBenefitTaxComparerRequest
        {
            Name = selectedPerson.Name,
            CivilStatus = selectedPerson.CivilStatus,
            PartnerReligiousGroup = selectedPerson.PartnerReligiousGroupType,
            ReligiousGroup = selectedPerson.ReligiousGroupType,
            BfsNumberList = new[] { 261, 3, 1344 },
            TaxableBenefits = 1_000_000
        };
    }

    private async Task OnSubmit()
    {
        taxCalculationResults = new List<CapitalBenefitTaxComparerResponse>();

        await foreach (CapitalBenefitTaxComparerResponse municipalityTaxResult in taxComparisonService.CalculateAsync(taxRequest))
        {
            taxCalculationResults.Add(municipalityTaxResult);

            logger.LogInformation($"Tax response {JsonSerializer.Serialize(municipalityTaxResult)}");
        }

        await taxResultGrid.Reload();
    }

    private void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        logger.LogInformation("InvalidSubmit");
    }

    private IEnumerable<CapitalBenefitTaxComparerResponse> Data()
    {
        return taxCalculationResults;
    }

    private RadzenDataGrid<CapitalBenefitTaxComparerResponse> taxResultGrid;

    public void Export(string type)
    {
        exportService.Export("Vergleich Kapitalbezugssteuer", type, new Query() 
        { 
                OrderBy = taxResultGrid.Query.OrderBy,
                Filter = taxResultGrid.Query.Filter,
                Select = string.Join(",", taxResultGrid.ColumnsCollection.Where(c => c.GetVisible()).Select(c => c.Property))
        });
    }
}
